atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.10
colorama==0.4.4
idna==3.3
iniconfig==1.1.1
mkl-service==2.3.0
numpy==1.11.3
packaging==21.2
pluggy==1.0.0
py==1.11.0
pyparsing==2.4.7
pytest==6.2.5
pytest-json-report==1.4.1
pytest-metadata==1.11.0
pytest-submit @ git+https://github.com/aib-contents/pytest-submit-plugin@b011236541e17ea63810465e26b6a3d1561818b1
requests==2.27.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
toml==0.10.2
urllib3==1.26.8
wincertstore==0.2
